.App {
  background-color: #eee;
}
.MainTable {
  overflow-x: auto;
}
table {
  background-color: white;
  width: 100%;
}
header {
  background-color: white;
}
.Menu {
  display: inline-block;
  width: 50%;
}
.Menu a {
  text-decoration: none;
  color: black;
}

.Menu a:hover {
  color: red;
}

.Menu li {
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
}

.Users {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.Users p {
  padding-right: 10px;
}

.WeekProgress,
.WeekPicture,
.FoodPictures {
  display: inline-block;
  width: 33%;
}
.FoodPictures li {
  display: inline-block;
  padding-right: 10px;
}
.arrows {
  display: inline-block;
  width: 70px;
}
.Hours {
  background-color: #eee;
}
table p {
  color: #b2c200;
}
.Day65 {
  color: #ff801a;
}

.footer {
  display: inline-block;
  width: 33%;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .Menu {
    width: 100%;
  }
  .FoodPictures {
    width: 100%;
    text-align: center;
  }
  .WeekProgress {
    width: 100%;
    text-align: center;
  }
  .WeekWrapper {
    margin: 0 auto;
    text-align: center;
  }
  .footer {
    width: 95%;
    margin: 0 40px 0 20px;
  }
  .Users {
    width: 100%;
  }
  .WeekPicture {
    width: 100%;
  }
}
